body {
	background: linear-gradient(
        135deg,
        #83fcf2,
        #111111
    ), #080808;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

.heading {
    font-family: "Roboto Mono",monospace;
	margin: 35px auto 20px;
}

hr {
	border-top: 2px solid rgb(0, 0, 0);
	width: 40%;
	margin-bottom: 55px;
}

.main {
	width: 50vw;
	margin: auto;
	padding: 30px;
	border-radius: 5px;
	background: linear-gradient(
        135deg,
        #000000,
		#83fcf2
    ), hsl(0, 17%, 92%);
	color: rgb(251, 255, 255);
}

label {
	font-size: 20px;
}

.btn {
	width: 200px;
}

#finalAmount {
	font-family: "Roboto Mono",monospace;
	display: none;
	margin: 50px auto;
}

#finalAmount h2 {
	font-size: 50px;
}

.finalValue {
	font-family: "Roboto Mono",monospace;
}

@media (max-width: 768px) {
	hr {
		width: 60%;
	}
	.main {
		width: 100%;
	}
}

@media (max-width: 400px) {
	.heading {
		font-size: 60px;
	}
	hr {
		width: 75%;
	}
	#finalAmount h2, .finalValue {
		font-size: 40px;
	}
}
